:root {
    --fondoPrimario: #2b2b2b;
    --magenta: #EA5480;
    --Naranja: #FF7F27;
    --Azul: #00A2E8;
    --AzulClaro: #00C7E8;
    --Turquesa: #00E8DE;
    --fondoSecundario: #404040;
}

body {
    background-color: var(--fondoPrimario);
}

.nav {
    background-color: var(--magenta);
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding: 1em;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav .login {
    display: flex;
    background-color: var(--Naranja);
    justify-content: right;
    height: 100%;
}

.nav .menu {
    display: flex;
    justify-content: left;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #fff;
}

button {
    display: none;
}

@media (max-width: 768px) {
    header {
        background-color: var(--magenta);
        font-family: Helvetica, sans-serif;
        font-weight: bolder;
        padding: 1em;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        font-size: small;
    }

    button {
        display: block;
        background-color: var(--magenta);
        border: none;
        font-weight: bolder;
        font-family: Helvetica, sans-serif;
        padding: 10px;
        margin: auto;
        max-width: fit-content;
    }

    .nav {
        margin-top: 50px;
        max-width: 100%;
    }

    .show-menu {
        display: block;
    }

    .hide-menu {
        display: none;
    }

    .nav .menu {
        display: block;
        padding: 10px;
        margin: 15px;
    }

    .nav .login {
        display: block;
        background-color: var(--Naranja);
        padding: 10px;
        margin: 15px;
        width: 80%;
    }
}