:root {
    --fondoPrimario: #40405f;
    --nav: #ff9be1;
    --login: #d396ff;
    --Azul: #00A2E8;
    --AzulClaro: #00C7E8;
    --Turquesa: #00E8DE;
    --fondoSecundario: #383872;
}

body {
    background-color: var(--fondoPrimario);
}

.nav {
    background-color: var(--nav);
    font-family: "Lilita One", Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 1em;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav .login {
    display: flex;
    background-color: var(--login);
    justify-content: right;
    height: 100%;
}

.nav .menu {
    display: flex;
    justify-content: left;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #fff;
}

button {
    display: none;
}

@media (max-width: 768px) {
    header {
        background-color: var(--nav);
        font-family: "Lilita One", Helvetica, sans-serif;
        font-weight: 200;
        padding: 1em;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        font-size: small;
    }

    button {
        display: block;
        background-color: var(--nav);
        border: none;
        font-weight: 200;
        font-family: "Lilita One", Helvetica, sans-serif;
        padding: 0;
        margin: 0 auto;
        max-width: fit-content;
    }

    .nav {
        margin-top: 40px;
        max-width: 100%;
    }

    .show-menu {
        display: block;
    }

    .hide-menu {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--login);
        padding: 0;
        margin: 0;
    }

    .nav li {
        padding: 1em;
        margin: 0;
    }


}