:root {
    --fondoPrimario: #40405f;
    --nav: #ff9be1;
    --login: #d396ff;
    --Azul: #00A2E8;
    --AzulClaro: #00C7E8;
    --Turquesa: #00E8DE;
    --fondoSecundario: #2a2a83;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido {
    padding-top: 50px;
    background-color: var(--fondoSecundario);
    height: 100%;
    max-width: 80%;
    box-shadow: 0px 3px 4px 6px #6d6da2;
    font-family: "Noto Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

article {
    background-color: var(--Azul);
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
}

.generos-info {
    margin: 5px;
}

.nombres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.nombre-genero {
    font-family: "Noto Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--AzulClaro);
    width: 20%;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
}

.desc-genero {
    background-color: var(--Turquesa);
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
}

.occult {
    display: none;
}

.pressed {
    border: 3px solid #aad8e0;
}

@media (max-width: 768px) {
    .contenido {
        padding-top: 50px;
        background-color: var(--fondoSecundario);
        height: 100%;
        max-width: 100%;
        box-shadow: 0px 3px 4px 6px #676767;
        font-family: "Noto Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
    }

    .nombres {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .nombre-genero {
        background-color: var(--AzulClaro);
        width: fit-content;
        margin: 10px;
        padding: 5px 20px;
        border-radius: 10px;
    }
}