:root {
    --fondoPrimario: #40405f;
    --nav: #ff9be1;
    --login: #d396ff;
    --Azul: #00A2E8;
    --AzulClaro: #00C7E8;
    --Turquesa: #00E8DE;
}

h2 {
    margin: 1em;
    text-align: center;
    font-family: "Lilita One", Helvetica, sans-serif;
    font-weight: 300;
    font-style:oblique;
    color: var(--nav);
}

.contenido {
    display: flex;
}

section {
    font-family: "Noto Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    padding: auto;
    margin: 15px 10px 30px;
}

.imagen {
    /*max-height: 400px;*/
    padding: auto;
    margin-top: 50px;
    justify-items: center;
}

img {
    display: block;
    /*max-height: 400px;*/
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.articulo1 {
    background-color: var(--Azul);
    margin: 5px;
    padding: 1px 10px;
    border-radius: 10px;
}

.articulo2 {
    background-color: var(--AzulClaro);
    margin: 5px;
    padding: 1px 10px;
    border-radius: 10px;
}

.articulo3 {
    background-color: var(--Turquesa);
    margin: 5px;
    padding: 1px 10px;
    border-radius: 10px;
}

aside {
    background-color: #000;
    min-width: 200px;
    width: 30%;
}

@media (max-width: 768px) {

    h2 {
        margin: 0.5em;
    }

    .imagen {
        margin-top: 40px;
    }

    .contenido {
        display: flex;
    }

    section {
        font-family: "Noto Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        padding: auto;
        margin: 5% 15px 30px;
    }

    aside {
        display: none;
    }


}